
@font-face {
  font-family: 'againstregular';
  src: url(against\ regular.ttf)

}
:root {
    --color-body: #b6cbce;
    --color-heading: #ececec;
    --color-base: #c0eb02;
    --color-base2: rgb(12, 12, 12);
    --color-brand: #cfe600;
    --color-brand2: rgba(175, 219, 0, 0.788)
    --fonthead: "againstregular";

}body{
    background-color: var(--color-base2);
    color: var(--color-body);
    position: relative;
}   
html {
  scroll-padding-top: 4.5rem;
}

.navbar-brand{
  font-family: againstregular;
}
.navbar-brand img{
  width: 40PX;
  height: 40PX;
}
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../images/bg-header.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: againstregular;
}


@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #e40000;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #bf0000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
  transition: 1s;
}
.btn-primary:hover{
  color: #ffffff;
  text-shadow: 0 0 35px #ff1810;
  transform: scale(1.1);
  z-index: 2;
}
.btn-primary:hover::before{
  box-shadow: 0 0 15px #ff1010;
}

.page-section {
  padding: 6rem 0;
  background-color: #e6e6e6;
}
.page-section h2.section-heading, .page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000000;
  font-family: againstregular;
}
.page-section h3.section-subheading, .page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  color: #000000;
}

.bgColor {
  transition: all 1s;
  background-color: rgb(0, 0, 0);
  color: #000000;
  border-bottom: 1px solid rgb(48, 48, 48);
}

.containercard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.card {
  position:relative;
  width: 320px;
  height: 450px;
  margin: 50px;
  background-image: url(../images/card-img.png);
  border: none;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #fdc2c2,
  inset 0 -15px 0 rgb(190, 35, 35),
  0 45px 0 rgba(0, 0, 0, 15);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  transition: 1s;
}
.card::before {
  content: '';
  position: absolute;
  top: -140px;
  left: -40px;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, hwb(0 100% 0% / 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.icon{
  position: relative;
  width: 140px;
  height: 120px;
  background: rgb(12, 12, 12);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: 90px;
  box-shadow: 0 10px 0 #747373,
  inset 0 -8px 0 rgb(211, 211, 211);
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.icon::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px rgb(12, 12, 12);
}
.icon::after{
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px rgb(12, 12, 12);
}

.icon ion-icon{
  position: relative;
  font-size: 6em;
  z-index: 1000;
  --ionicon-stroke-width: 24px;
  color: #fff;
}

.content{
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140px;
  text-align: center;
}

.content h2{
  color: #fff;
  font-family: againstregular;
  margin-bottom: 10px;
}

.content p{
  color: #fff;
  line-height: 1.5em;
}
.containerservices{
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  background: url(../images/services-bg.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  
}
.text-center{
  padding-top: 80px;
  text-align: center !important;
  box-sizing: border-box;
  display: block;
  color: #fff;
}

.text-center h1{
  font-family: againstregular;
  font-weight: 200px;
}
.text-center p{
  font-family: 'Times New Roman', Times, serif;
}

.card:hover:before{
    box-shadow: 0 0 15px #ff1010;
    border: none;
    
    
}
.card:hover {
    color: #ff1010;
    text-shadow: 0 0 35px #ff1810;
    transform: scale(1.1);
    z-index: 2;
    background: url(../images/hover\ card.png);
    border: none;
    
}